<ion-header [translucent]="true">
  <ion-toolbar class="ion-padding">
    <ion-title>Lista de Usuarios</ion-title>
    <ion-button slot="end" routerLink="/home">Voltar</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <h1>Resultado:</h1>
  <br>
  <ion-item *ngFor="let usuario of listaUsuarios">
    <ion-card class="ajuste-card">
      <img alt="Foto Usuario" src="{{usuario.avatar}}" />
      <ion-card-header>
        <ion-card-subtitle>{{usuario.id}}</ion-card-subtitle>
        <ion-card-title>{{usuario.first_name}} {{usuario.last_name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{usuario.email}}
      </ion-card-content>
    </ion-card>
    
    <!-- <ion-button color="warning" (click)="alterarUsuario(usuario.id!)" routerLink="/alterar-usuario">
      <ion-icon slot="icon-only" name="create-outline"></ion-icon>
    </ion-button> -->

    <ion-button class="btn-del-usuario" color="danger" (click)="confirmarExclusao(usuario.id!)">
      <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
    </ion-button>

  </ion-item>
</ion-content>
